* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Red Hat Display', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--Social Media--*/

#navbar {
    padding-top: 1.5vh;
    padding-bottom: 1.3vh;
    overflow: hidden;
}

nav ul .social-media a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav .social-media {
    padding-top: 7px;
    float: right;
    letter-spacing: 8px;
    padding-right: 4vw;
}

nav .social-media i {
    padding-left: 12px;
    font-size: 26px;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: #2bd77c;
    position: absolute;
    float: left;
    padding: 10px;
}

.logo-img {
    width: auto;
    height: 40px;
}

/*-------------*/

.main-nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .social-media a:not(:last-child) {
        display: none;
    }
    .social-media a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .social-media.responsive {
        position: relative;
    }
    .social-media.responsive .icon {
        position: absolute;
    }
    .social-media.responsive a {
        float: none;
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }
}

/*-------------*/

.row a {
    text-decoration: none;
}

.main-nav {
    margin-left: 90px;
    overflow: hidden;
    height: 131px;
    position: relative;
}

.main-nav p {
    font-weight: bold;
    font-size: 36px;
    float: left;
    color: black;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .main-nav p {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .main-nav p {
        display: none;
    }
    .main-nav::after {
        content: "DOB";
        font-weight: bold;
        font-size: 36px;
        float: left;
        color: black;
    }
}

nav ul {
    margin-bottom: 6px;
    list-style: none;
    list-style-type: none;
    margin-top: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul a:hover {
    color: #555;
}

nav ul a {
    position: relative;
    z-index: 1;
}

.active, nav ul a:hover {
    color: #2bd77c;
}

nav ul a:after {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.app-text {
    padding-top: 80px;
}

@media screen and (max-height: 600px) {
    .app-text {
        padding-top: 40px;
    }
}

.app-text h1 {
    display: flex;
    justify-content: center;
}

.app-text p {
    display: flex;
    justify-content: center;
}

.app-text h1 {
    font-size: 48px;
    color: black;
    font-weight: bold;
    margin: 0.1em;
    margin-bottom: none;
}

.app-text p {
    font-size: 26px;
    margin: 0.1em;
    word-wrap: break-word;
    word-break: break-word;
    text-align-last: center;
}

@media screen and (max-height: 600px) {}

.app-link {
    margin-top: 80px;
    display: flex;
    color: #2bd77c;
    justify-content: center;
}

.play-stores {
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 47px;
    display: flex;
    width: 220px;
    height: 73px;
    border: 2px solid #444444;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.play-stores:hover {
    background-color: #e7e7e7;
}

.play-stores i {
    padding-top: 4px;
    font-size: 45px;
    padding-left: 12px;
    color: #444444;
}

.play-stores p {
    padding-left: 22px;
    font-family: sans-serif;
    padding-top: 6px;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.app-stores {
    padding: 5px;
    display: flex;
    width: 220px;
    height: 73px;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    justify-content: space-around;
}

.app-stores i {
    padding-top: 4px;
    font-size: 45px;
    padding-left: 12px;
    color: #CCCCCC;
}

.app-stores p {
    padding-right: 30px;
    padding-left: 12px;
    font-family: sans-serif;
    padding-top: 7px;
    color: #CCCCCC;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .app-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .play-stores {
        margin-right: 0px;
    }
}

.footer_row {
    margin-top: 100px;
    margin-right: 4vw;
    display: flex;
    justify-content: space-between;
}

.privacy {
    margin-right: 33px;
}

.footer_right a {
    color: black;
    font-size: 18;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .privacy {
        margin-right: 0px;
    }
    .footer_right a {
        display: block;
    }
}

.footer_right a:hover {
    color: #2bd77c;
    font-size: 18;
    font-weight: bold;
}