* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Red Hat Display', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------- Navbar ------*/

/*--Social Media--*/

#navbar {
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
}

nav ul .social-media a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav .social-media {
    padding-top: 10px;
    float: right;
    padding-right: 4vw;
}

nav .social-media i {
    padding-left: 12px;
    font-size: 24px;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: #2bd77c;
    position: absolute;
    float: left;
    margin-left: 70px;
    padding: 10px;
}

.logo-img {
    width: auto;
    height: 40px;
}

.row a {
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    animation: smoothScroll .3s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

#navbar {
    text-align: center;
}

.main-nav {
    margin-left: 12vw;
    text-align: center;
}

nav ul {
    margin-bottom: 6px;
    list-style: none;
    list-style-type: none;
    margin-top: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul a:hover {
    color: #555;
}

nav ul a {
    position: relative;
    z-index: 1;
}

.active, nav ul a:hover {
    color: #2bd77c;
}

nav ul a:after {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.marketing-content {
    padding-left: 8%;
}

.app-details {
    margin-top: 50px;
    align-items: center;
}

.app-details h1 {
    font-size: 64px;
    color: black;
    font-weight: 700;
    margin: 0.1em;
    margin-bottom: none;
}

.app-details p {
    font-size: 26px;
    align-items: center;
}

.app-details .app-text {
    padding-top: 10vw;
}

.btn-app img {
    height: 50px;
    max-width: 100%;
    margin-right: 10px;
}

.app-img {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.app-details button {
    border: none;
    outline: none;
    background: none;
    font-size: 8vh;
    float: right;
}

.arrows {
    font-size: 1.7ew;
    color: #ccc;
}

.arrows:hover {
    color: #555;
}

.app-img img {
    height: 80vh;
    width: auto;
    float: right;
}

.app-link {
    margin-top: 10vh;
    display: flex;
    color: #2bd77c;
}

.play-stores {
    padding: 5px;
    margin-right: 10%;
    display: flex;
    width: 220px;
    height: 73px;
    border: 2px solid #444444;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.play-stores:hover {
    background-color: #e7e7e7;
}

.play-stores i {
    padding-top: 4px;
    font-size: 45px;
    padding-left: 12px;
    color: #444444;
}

.play-stores p {
    padding-left: 22px;
    font-family: sans-serif;
    padding-top: 6px;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.app-stores {
    padding: 5px;
    margin-right: 10%;
    display: flex;
    width: 220px;
    height: 73px;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    justify-content: space-around;
}

.app-stores i {
    padding-top: 4px;
    font-size: 45px;
    padding-left: 12px;
    color: #CCCCCC;
}

.app-stores p {
    padding-right: 30px;
    padding-left: 12px;
    font-family: sans-serif;
    padding-top: 7px;
    color: #CCCCCC;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
}

/*--------Features Section ------*/

/*---- Contact us Form ------*/

.section-form {
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    position: relative;
}

.description-form {
    height: 603px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-form .icon-big {
    color: black;
}

.section-form h1 {
    margin: 0;
    color: black;
}

.wrapper-contact {
    margin-top: 40px;
    margin-left: 25px;
}

.description-form2 {
    height: 603px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.wrapper-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

.description-form2 p {
    font-weight: 400;
    float: left;
    color: #444444, ;
    font-size: 22px;
    line-height: 29.1px;
}

.contact-phone {
    float: left;
}

.contact-email {
    float: left;
    overflow: hidden;
}

input[type=text], input[type=number], input[type=email], select, textarea {
    width: 522px;
    height: 66px;
    padding: 7px;
    border: none;
    border-radius: 8px;
    background-color: #F7F7F7;
}

#message {
    height: 200px;
}

/* h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin:0;
}

.contact-form {
    float: right;
    width: 100%;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
} */

/*--------Button-------*/

input[type=submit] {
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #2bd77c;
    border: none;
    width: 522px;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover, input[type=submit]:active {
    background-color: #004b49;
}

.icon-big {
    font-size: 250%;
    display: inline-block;
    color: #2bd77c;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 120%;
    vertical-align: middle;
}

.contact-text {
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-bottom: 0px;
}

/*--- Section Features --*/

.section-features {
    /* background-color: #f2f2f2; */
    margin-top: 20vh;
    text-align: center;
}

.feature-icon {
    font-size: 151px;
    color: #2bd77c;
    margin-bottom: 11vh;
}

.section-features h2 {
    border: none;
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 44px;
}

footer {
    margin-top: 12.0vh;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}